@tailwind base;
@tailwind components;
@tailwind utilities;

.p-paginator .p-paginator-page.p-highlight {
    background-color: #09cfd2;
    color: black;
    font-weight: bold;
    border-color: #0056b3;
}

.p-paginator .p-paginator-page:hover {
    background-color: #e0e0e0;
    color: black;
}

/* Optional: Style for the next/prev buttons */
.p-paginator .p-paginator-next, 
.p-paginator .p-paginator-prev {
    background-color: #f0f0f0;
    border-color: #ccc;
    color: #333;
}

/* Hover effect for next/prev buttons */
.p-paginator .p-paginator-next:hover,
.p-paginator .p-paginator-prev:hover {
    background-color: #d0d0d0;
}